/* FOOTER STYLE STARTS */
.footer {
  padding-top: 60px;
  padding-bottom: 100px;

  color: #ededed;
  background-color: #1e1e1e;

  &__logo {
    margin: 0;
    margin-bottom: 145px;
    padding: 0;

    text-align: center;
    letter-spacing: 3.75px;
    text-transform: uppercase;

    font-size: 30px;
    font-weight: 800;
  }

  &__layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.footer-list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  &__item {
    margin-bottom: 15px;

    letter-spacing: 2.25px;
    text-transform: uppercase;

    font-size: 18px;
    font-weight: 900;
  }

  &__link {
    display: inline-block;

    letter-spacing: 2.25px;
    text-transform: uppercase;

    color: #ededed;

    font-size: 18px;
    font-weight: 600;
  }

  &__link:hover {
    transition: 1s;

    opacity: 0.5;
  }

  &__item:first-child {
    margin-bottom: 30px;
  }

  &__item:last-child {
    margin-bottom: 0;
  }
}

.social-list {
  display: flex;
  justify-content: space-between;

  max-width: 150px;
  margin: 0;
  margin-top: 30px;
  padding: 0;

  list-style-type: none;

  &__item {
    font-size: 0;
  }

  &__link {
    display: inline-block;

    background-repeat: no-repeat;
    background-position: center center;
  }

  &__link--facebook {
    width: 29px;
    height: 30px;

    background-image: url("../img/facebook.png");
  }

  &__link--linkedin {
    width: 30px;
    height: 28px;

    background-image: url("../img/linked-in.png");
  }

  &__link--instagram {
    width: 30px;
    height: 30px;

    background-image: url("../img/instagram.png");
  }

  &__link--twitter {
    width: 30px;
    height: 26px;

    background-image: url("../img/twitter.png");
  }

  &__link:hover {
    transition: 1s;

    opacity: 0.5;
  }
}

.arrow-up__btn {
  position: fixed;
  right: 30px;
  bottom: 30px;

  display: inline-block;
  display: none;

  width: 50px;
  height: 50px;

  transform: scale(0.7);

  border-radius: 50%;
  background-color: rgba(0, 255, 0, 0.6);

  font-size: 0;

  &:hover,
  &:focus {
    transform: scale(0.9);

    background-color: rgba(0, 255, 0, 0.3);
  }

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;

    content: '';
    transform: translate(-50%, -50%);


  }

  &::before {
    width: 5px;
    height: 25px;

    opacity: 0.9;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #000;
  }

  &::after {
    width: 15px;
    height: 15px;

    transform: translate(-50%, -70%) rotate(45deg);

    opacity: 0.9;
    border-top: 5px solid #000;
    border-left: 5px solid #000;
  }

}



@media (max-width: 900px) {
  .footer {
    &-list {
      margin-bottom: 60px;
    }
  }
}

@media (max-width: 408px) {
  .footer {
    &__logo {
      margin-bottom: 75px;
    }

    &__layout {
      justify-content: left;
    }
  }

  .footer-map__img {
    margin: 0 auto;
  }

  .social-list {
    max-width: none;
  }
}

/* FOOTER STYLE ENDS*/