.header {
  /* min-height: 1080px; */
  padding-top: 115px;
  padding-bottom: 340px;

  background-color: #000000;
  background-image: url("../img/header-bg.png");
  background-repeat: no-repeat;
  background-position: center top;
  /* background-size: cover; */

  &-content__title {
    letter-spacing: 6px;

    color: #ededed;

    font-size: 48px;
    font-weight: 800;
  }

  &-content__desc {
    letter-spacing: 3px;

    color: #ededed;

    font-size: 24px;
    line-height: 40px;
  }

  .header-list__btn {
    position: relative;

    padding-right: 30px;

    cursor: pointer;
    text-transform: uppercase;

    color: #ededed;
    border: none;
    background-color: transparent;


    &:hover {
      color: rgba(237, 237, 237, 0.8);
    }
  }

  .header-list__btn--opened::after {
    position: absolute;
    top: 47%;
    right: 0;

    width: 20px;
    height: 2px;

    content: '';
    transform: rotate(45deg);

    background-color: #ededed;

  }

  .header-list__btn--opened::before {
    position: absolute;
    top: 47%;
    right: 0;

    width: 20px;
    height: 2px;

    content: '';
    transform: rotate(-45deg);

    background-color: #ededed;

  }

  .header-list__btn--closed::after {
    position: absolute;
    right: 0;

    width: 20px;
    height: 2px;

    content: '';

    background-color: #ededed;
    box-shadow: 0 8px 0 0 #ededed, 0 16px 0 0 #ededed;

  }

}

.wrapper {
  max-width: 1536px;
  margin: 0 auto;
  padding: 0 18px;
}

.header-top {
  position: relative;

  display: flex;
}

.header-logo {
  margin-right: auto;

  letter-spacing: 3.75px;
  text-transform: uppercase;

  color: #ededed;

  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 800;
}

.header-list {
  position: absolute;
  top: 50px;
  right: 0px;

  display: block;

  margin: 0;
  padding: 0;

  list-style: none;
  // transition: transform 0.5s linear 0.1s;

  transform: translateX(1000px);


  &__link {
    display: inline-block;

    margin-bottom: 30px;

    letter-spacing: 2.25px;
    text-transform: uppercase;

    color: #ededed;

    font-size: 18px;
    font-weight: 600;

    &:hover {
      color: rgba(237, 237, 237, 0.8);
    }

    &:active {
      color: rgba(237, 237, 237, 0.3);
    }
  }

  &__item:last-child a {
    margin-bottom: 0;
  }

  &--opened {
    animation: slide-left 0.5s both;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(1000px);
  }

  100% {
    transform: translateX(0);
  }
}

.header-content {
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  padding-top: 385px;

  &__title {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
  }

  &__desc {
    max-width: 390px;
    margin: 0;
    padding: 0;

    text-align: right;
    letter-spacing: 3px;

    font-size: 24px;
    line-height: 40px;

    span {
      letter-spacing: 2.25px;

      font-size: 18px;
      font-weight: 300;
      font-style: italic;
    }
  }

}

.nav-menu {
  /* margin-top: -263px; */
  padding-top: 25px;
  padding-bottom: 30px;

  background-color: #ffffff;
  box-shadow: -1px 0px 27px 0px rgba(0, 0, 0, 0.16);

  &__logo {
    margin-right: auto;

    letter-spacing: 3.75px;
    text-transform: uppercase;

    color: #ededed;
    color: #1c1c1c;

    font-size: 30px;
    font-weight: 800;
  }

  &__layout {
    display: flex;
    align-items: center;
  }
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */

  max-width: 1040px;
  margin: 0;
  padding: 0;

  list-style: none;

}

.menu-list__item {
  margin-right: 10px;

  &:nth-child(6) {
    margin-right: 0;
  }
}



.menu-list__link {
  letter-spacing: 2.25px;
  text-transform: uppercase;

  color: #3b3b3b;

  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 1440px) {

  .header {
    padding-top: 80px;
    padding-bottom: 280px;
  }

}

@media (max-width: 860px) {
  .nav-menu__layout {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .nav-menu__logo {
    margin-right: 0;
    margin-bottom: 15px;
  }


}


@media (max-width: 767px) {
  .header {
    padding-top: 65px;
    padding-bottom: 170px;

    background-position: center center;
  }

  .nav-list {
    min-height: auto;
  }

}

@media (max-width: 320px) {
  .header {
    padding-top: 35px;
  }

  .header-content__desc {
    text-align: left;
  }

  .header-content {
    padding-top: 315px;
  }

  .nav-list {
    flex-direction: column;
    justify-content: space-between;

    min-height: 200px;
  }
}